<%= form_with model: @copy do |form| %>
  <div>
    <%= form.label :borrower %><br>
    <%= form.text_field :borrower %>
    <% @copy.errors.full_messages_for(:borrower).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :dueDate %><br>
    <%= form.text_field :dueDate %>
    <% @copy.errors.full_messages_for(:dueDate).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :book_id %><br>
    <%= form.text_field :book_id %>
    <% @copy.errors.full_messages_for(:book_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>