<h1>Copy</h1>
<p>Borrower: <%= @copy.borrower %></p>
<p>Due date: <%= @copy.dueDate %></p>
<p>Book ID: <%= @copy.book_id %></p>

<ul>
  <li>
    <%= link_to "Edit", edit_copy_path(@copy) %>
  </li>
  <li>
    <%= link_to "Destroy", copy_path(@copy), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>