<h1>My books and copies</h1>
<h2>Books</h2>

<%= form_tag(books_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% for book in @books.sort_by{|b| b[:title]} %>
    <li>
      <%= link_to book.title, book %>
    </li>
  <% end %>
</ul>

<%#= link_to "New book", new_book_path %>

<h2>Copies</h2>
<ul>
  <% @copies.sort_by{|c| c[:bookId]}.map do |copy| %>
    <li>
      <%= link_to copy.book.title + " borrowed by " + copy.user.email, copy %>
    </li>
  <% end %>
</ul>

<%#= link_to "New copy", new_copy_path %>