<h1>My books and copies</h1>
<h2>Books</h2>
<%#= button_to "New", :action => "add", :controller => :books %>
<%# button?_to "Add new book", {  action: "add"} %>
<%#= button_to "New", { action: "add" }, class: "my_class", id: "my_id" %>

<ul>
  <% for book in @books %>
    <li><a href="/books/<%= book.id %>">
      <%= book.title %>
    </a></li>
  <% end %>
</ul>

<h2>Copies</h2>
<ul>
  <% for copy in @copies %>
  <li>Borrower: <%= copy.borrower %>, Book id: <%= copy.book_id %>, <%= copy.dueDate %></li>
  <% end %>
</ul>