<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.ISBN %></p>
<p>ID: <%= @book.id %></p>

<ul>
  <li>
    <%= link_to "Edit", edit_book_path(@book) %>
  </li>
</ul>