<h1><%= @book.title %></h1>

<h2>Details</h2>
<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.ISBN %></p>
<p>ID: <%= @book.id %></p>

<h2>Borrowers</h2>
<ul>
  <% @book.copies.map do |copy| %>
    <li>
      <%= copy.user.email %>
    </li>
  <% end %>
</ul>

<h2>Actions</h2>
<ul>
  <li>
    <%= form_with model: [@book, @book.copies.build] do |form| %>
      <p>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :dueDate, :value => "1/1/2023" %>
        <%= form.submit "Borrow" %>
      </p>
    <% end %>
  </li>
</ul>

<h2>Admin Actions</h2>
<ul>
  <li>
    <%= link_to "Edit", edit_book_path(@book) %>
  </li>
  <li>
    <%= link_to "Destroy", book_path(@book), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>